
<div class="row">

    <section class="col-md-6 messages">
        <h3>Messages</h3>

        <div class="panel panel-default message" ng-repeat="message in messages">
            <div class="panel-body">
                <strong>{{ message.author }}</strong> ({{ message.date | date: 'MMMM dd, yyyy HH:mm' }})
                <p>{{ message.body }}</p>
            </div>
            <!-- /.pane-body -->
        </div>
        <!-- /.panel -->

    </section>
    <!-- /.messages -->

    <section class="col-md-6 new-message">
        <h3>New Message</h3>

        <form ng-submit="newMessage();">
            <div class="form-group">
                <label for="author">Name</label>
                <input type="text" id="author" class="form-control" placeholder="Name" ng-model="message.author">
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" class="form-control" placeholder="Message" ng-model="message.body"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </section>
    <!-- /.new-message -->

</div>
<!-- /.row -->
